body{
    background-color: rgba(241, 145, 101, 0.945);
}

.cuisines{
    font-size: 25px;
    font-family: cursive;
    color: cyan;
}

h1 {
    text-align: center;
    text-shadow: 0 0 3px yellow, 0 0 5px yellow;
}

#subtitle {
    text-align: center;
}

.food {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    border-radius: 25px;
}